@font-face {
  font-family: 'DKLemonYellowSun';
  src: url("DKLemonYellowSun.eot");
  src: url("DKLemonYellowSun.eot?#iefix") format("embedded-opentype"), url("DKLemonYellowSun.woff") format("woff"), url("DKLemonYellowSun.ttf") format("truetype"), url("DKLemonYellowSun.svg#DKLemonYellowSun") format("svg");
  font-weight: normal;
  font-style: normal; }
