@font-face {
  font-family: 'DKLemonYellowSun';
  src: url("font/DKLemonYellowSun.eot");
  src: url("font/DKLemonYellowSun.eot?#iefix") format("embedded-opentype"), url("font/DKLemonYellowSun.woff") format("woff"), url("font/DKLemonYellowSun.ttf") format("truetype"), url("font/DKLemonYellowSun.svg#DKLemonYellowSun") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.header .container:after {
  content: "";
  display: table;
  clear: both;
}
.header .container .logo {
  width: 30%;
  float: left;
  padding: 1.5em 0;
}
.header .container nav {
  width: 70%;
  float: left;
}
.header .container nav ul {
  text-align: right;
  padding: 0;
  margin: 0;
}
.header .container nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 2em 1em;
}
.header .container nav ul li:last-child {
  padding-right: 0;
}
.header .container nav ul li a {
  color: #632a79;
  text-decoration: none;
}

.slider {
  position: relative;
}
.slider .container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  z-index: 1;
}
.slider .container:after {
  content: "";
  display: table;
  clear: both;
}
.slider .container .idiomas {
  width: 80%;
  padding: 0;
  margin: 0 auto;
}
.slider .container .idiomas:after {
  content: "";
  display: table;
  clear: both;
}
.slider .container .idiomas li {
  list-style-type: none;
  float: left;
  width: 50%;
}
.slider .container .idiomas li a {
  display: block;
  padding: 1em 0;
  width: 100%;
  font-family: 'DKLemonYellowSun';
  font-size: 1.3em;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
.slider .container .idiomas li:first-child a {
  background: rgba(32, 163, 195, 0.7);
}
.slider .container .idiomas li:last-child a {
  background: rgba(187, 22, 110, 0.7);
}

.box-select {
  background: url(../images/dent.png) repeat-x bottom #ececec;
  padding: 50px 0;
}
.box-select .container h1, .box-select .container h2 {
  text-align: center;
  font-family: 'DKLemonYellowSun';
  color: #7a2f87;
}
.box-select .container .select {
  text-align: center;
}
.box-select .container .select select {
  background: #ffffff;
  height: 55px;
  width: 80%;
  border: 1px solid #cdcdcd;
  text-align-last: center;
  color: #776f7a;
}

.main {
  padding: 30px 0;
}
.main .container {
  font-family: 'DKLemonYellowSun';
}
.main .container:after {
  content: "";
  display: table;
  clear: both;
}
.main .container h1 {
  text-align: center;
  color: #00a6cf;
  padding: .5em 0;
}
.main .container ul {
  padding: 0;
  margin: 0;
}
.main .container ul:after {
  content: "";
  display: table;
  clear: both;
}
.main .container ul li {
  background: url(../images/bg-cupon.png) no-repeat;
  width: 32%;
  height: 247px;
  margin: 0 2% 30px 0;
  float: left;
  list-style-type: none;
  box-sizing: border-box;
  padding: 1em;
}
.main .container ul li:nth-child(3n) {
  margin-right: 0;
}
.main .container ul li span {
  display: block;
  height: 50%;
  text-align: center;
  vertical-align: middle;
  font-size: 4em;
  color: #ffffff;
}
.main .container ul li span:first-child {
  position: relative;
}
.main .container ul li span:first-child img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.main .container .button-more {
  background: #00a6cf;
  width: 292px;
  height: 57px;
  font-size: 2em;
  line-height: 60px;
  text-align: center;
  border-radius: 8px;
  margin: 0 auto;
}
.main .container .button-more a {
  color: #ffffff;
  text-decoration: none;
}

.box-card {
  background: url(../images/dent-2.png) repeat-x top #ececec;
}
.box-card .container {
  background: url(../images/bg-card.png) no-repeat center right;
  padding: 50px 0 10px 0;
}
.box-card .container:after {
  content: "";
  display: table;
  clear: both;
}
.box-card .container .card {
  width: 35%;
  float: left;
  text-align: right;
}
.box-card .container .text {
  width: 65%;
  float: left;
  text-align: left;
  box-sizing: border-box;
  padding: 1em 4em 1em 1em;
}
.box-card .container .text h1 {
  font-family: 'DKLemonYellowSun';
  color: #632a79;
}
.box-card .container .text p {
  color: #8c8989;
}

.obtener {
  color: #ffffff;
}
.obtener h1, .obtener h2 {
  font-family: 'DKLemonYellowSun';
  text-align: center;
}
.obtener .top {
  background: url(../images/bg-top-01.png) no-repeat;
  background-size: cover;
}
.obtener .top .container {
  padding: 30px 0;
}
.obtener .top .container ul {
  padding: 0;
  margin: 0;
}
.obtener .top .container ul:after {
  content: "";
  display: table;
  clear: both;
}
.obtener .top .container ul li {
  list-style-type: none;
  height: 250px;
  float: left;
  text-align: center;
}
.obtener .top .container ul li span {
  display: block;
  padding: .5em 0;
  font-weight: 300;
}
.obtener .top .container ul li:nth-child(odd) {
  width: 15%;
}
.obtener .top .container ul li:nth-child(even) {
  line-height: 250px;
  width: 25%;
}
.obtener .top .container ul li:nth-child(even) img {
  width: 100%;
}
.obtener .bottom {
  background: url(../images/bg-bottom-01.png) no-repeat;
  background-size: cover;
}
.obtener .bottom .container {
  padding: .2em 0;
}

.map {
  background: rgba(0, 0, 0, 0.8);
  height: 567px;
  width: 100%;
}

.footer {
  background: #57276b;
}
.footer .container {
  padding: 30px 0;
}
.footer .container:after {
  content: "";
  display: table;
  clear: both;
}
.footer .container ul {
  float: left;
  padding: 0;
  margin: 0;
}
.footer .container ul li {
  list-style-type: none;
}
.footer .container ul li a {
  color: #ffffff;
  text-decoration: none;
}
.footer .container ul.links {
  width: 70%;
}
.footer .container ul.links li {
  display: inline-block;
  padding: 1.3em;
  font-size: .9em;
}
.footer .container ul.links li:first-child {
  padding-left: 0;
}
.footer .container ul.redes {
  width: 30%;
}
.footer .container ul.redes li {
  display: inline-block;
  padding: .2em .5em;
}
