@font-face {
  font-family: 'DKLemonYellowSun';
  src: url("font/DKLemonYellowSun.eot");
  src: url("font/DKLemonYellowSun.eot?#iefix") format('embedded-opentype'),
  	url("font/DKLemonYellowSun.woff") format('woff'),
  	url("font/DKLemonYellowSun.ttf") format('truetype'),
  	url("font/DKLemonYellowSun.svg#DKLemonYellowSun") format('svg');
  font-weight: normal;
  font-style: normal;
}