@import 'font';


// VARS
$hover : #632a79;
$blanco: #ffffff;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin ulcero {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

//MAIN
.container {
	width: 940px;
	margin: 0 auto;
}

.header {
	.container {
		@include clearfix;
		.logo {
			width: 30%;
			float: left;
			padding: 1.5em 0;
		}
		nav {
			width: 70%;
			float: left;
			ul {
				text-align: right;
				@include ulcero();
				li {
					list-style-type: none;
					display: inline-block;
					padding: 2em 1em;
					&:last-child {
						padding-right: 0;
					}
					a {
						color: $hover;
						text-decoration: none;
					}
				}
			}
		}
	}
}
.slider {
	// background: url(../images/banner-01.png) no-repeat center center;
	// background-size: cover;
	// width: 100%;
	// height: 662px;
	position: relative;
	.container {
		@include clearfix;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		margin: 0 auto;
		z-index: 1;
		.idiomas {
			width: 80%;
			@include clearfix;
			padding: 0;
			margin: 0 auto;
			li {
				list-style-type: none;
				float: left;
				width: 50%;
				a {
					display: block;
					padding: 1em 0;
					width: 100%;
					font-family: 'DKLemonYellowSun';
					font-size: 1.3em;
					text-align: center;
					color: $blanco;
					text-decoration: none;
				}
				&:first-child {
					a {
						background: rgba(32, 163, 195, .7);
					}
				}
				&:last-child {
					a {
						background: rgba(187, 22, 110, .7);
					}
				}
			}
		}
	}
}
.box-select {
	background: url(../images/dent.png) repeat-x bottom #ececec;
	padding: 50px 0;
	.container {
		h1, h2 {
			text-align: center;
			font-family: 'DKLemonYellowSun';
			color: #7a2f87
		}
		.select {
			text-align: center;
			select {
				background: $blanco;
				height: 55px;
				width: 80%;
				border: 1px solid #cdcdcd;
				text-align-last: center;
				color: #776f7a;
			}
		}
	}
}
.main {
	padding: 30px 0;
	.container {
		font-family: 'DKLemonYellowSun';
		@include clearfix;
		h1 {
			text-align: center;
			color: #00a6cf;
			padding: .5em 0;
		}
		ul {
			@include ulcero;
			@include clearfix;
			li {
				background: url(../images/bg-cupon.png) no-repeat;
				width: 32%;
				height: 247px;
				margin: 0 2% 30px 0;
				float: left;
				list-style-type: none;
				box-sizing: border-box;
				padding: 1em;
				&:nth-child(3n) {
					margin-right: 0;
				}
				span {
					display: block;
					height: 50%;
					text-align: center;
					vertical-align: middle;
					//line-height: 90px;
					//font-family: 'DKLemonYellowSun';
					font-size: 4em;
					color: $blanco;
					&:first-child {
						position: relative;
						img {
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							margin: auto;
						}
					}
				}
			}
		}
		.button-more {
			background: #00a6cf;
			width: 292px;
			height: 57px;
			font-size: 2em;
			line-height: 60px;
			text-align: center;
			border-radius: 8px;
			margin: 0 auto;
			a {
				color: $blanco;
				text-decoration: none;
			}
		}
	}
}
.box-card {
	background: url(../images/dent-2.png) repeat-x top #ececec;
	//padding: 50px 0;
	.container {
		background: url(../images/bg-card.png) no-repeat center right;
		padding: 50px 0 10px 0;
		@include clearfix;
		.card {
			width: 35%;
			float: left;
			text-align: right;
		}
		.text {
			width: 65%;
			float: left;
			text-align: left;
			box-sizing: border-box;
			padding: 1em 4em 1em 1em;
			h1 {
				font-family: 'DKLemonYellowSun';
				color: $hover;
			}
			p {
				color: #8c8989;
			}
		}
	}
}
.obtener {
	color: $blanco;
	h1, h2 {
		font-family: 'DKLemonYellowSun';
		text-align: center;
	}
	.top {
		background: url(../images/bg-top-01.png) no-repeat;
		background-size: cover;
		.container {
			padding: 30px 0;
			ul {
				@include ulcero;
				@include clearfix;
				li {
					list-style-type: none;
					//width: 20%;
					height: 250px;
					float: left;
					text-align: center;
					span {
						display: block;
						padding: .5em 0;
						font-weight: 300;
					}
					&:nth-child(odd) {
						width: 15%;
					}
					&:nth-child(even) {
						line-height: 250px;
						width: 25%;
						img {
							width: 100%;
						}
					}
				}
			}
		}
	}
	.bottom {
		background: url(../images/bg-bottom-01.png) no-repeat;
		background-size: cover;
		.container {
			padding: .2em 0;
		}
	}
}
.map {
	background: rgba(0,0,0,.8);
	height: 567px;
	width: 100%;
}
.footer {
	background: #57276b;
	.container {
		@include clearfix;
		padding: 30px 0;
		ul {
			float: left;
			@include ulcero;
			//@include clearfix;
			li {
				list-style-type: none;
				a {
					color: $blanco;
					text-decoration: none;
				}
			}
			&.links {
				width: 70%;
				li {
					display: inline-block;
					padding: 1.3em;
					font-size: .9em;
					&:first-child {
						padding-left: 0;
					}
				}
			}
			&.redes {
				width: 30%;
				li {
					display: inline-block;
					padding: .2em .5em;
				}
			}
		}
	}
}

























